.footer {
  background-color: #333;
  color: $color-grey-light-1;
  padding: 10rem 0;
  font-size: 1.4rem;
  transition: all 0.2s;

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  @include respond(phone) {
    padding: 5rem 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: 6rem;
    }
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    border-top: 1px solid $color-grey-light-2;
    padding: 2rem;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
      float: none;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__copyright {
    border-top: 1px solid $color-grey-light-2;
    padding-top: 2rem;
    display: inline-block;

    @include respond(tab-port) {
      text-align: center;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      background-color: #333;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(5deg) scale(1.3);
    }
  }
}

._list {
  padding-left: 3rem;
  padding-right: 2rem;
}

._copyright {
  width: 25%;
  padding-right: 8rem;
  padding-left: 2rem;
}
