.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;

    @include respond(tab-port) {
      position: absolute;
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
      width: 33.3333%;
    }

    &--p1 {
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        top: 0;
        left: 5%;
        transform: scale(1.1);
      }
    }

    &--p2 {
      right: 0;
      top: 2rem;

      @include respond(tab-port) {
        top: 0;
        right: 3%;
        transform: scale(1.1);
      }
    }

    &--p3 {
      left: 15%;
      top: 10rem;

      @include respond(tab-port) {
        top: -2rem;
        left: 35%;
        transform: scale(1.3);
        z-index: 9;
      }
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    scale: (0.9);
  }
}
